/* Jeg styler min header så den ser pæn ud */
@font-face {
  font-family: "work";
  src: url(fonte/Montserrat-ExtraBold.ttf);
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #e9e5e1;
}

.logo {
  font-family: "work";
  font-size: 1.5rem;
  color: #742921;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

ul li a {
  text-decoration: none;
  font-family: "work";
  color: #742921;
}

/* Logo */
/* jeg tilpasser mit logo mangler */
.logo img {
  max-width: 20%;
  /* max-height: 80px; */
}

/* så jeg kan styre mobil layoutet og burgermenuen her */

.burger {
  /* menuen skjules "display none"  */
  display: none;
  font-size: 4rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #742921;
  /* skubber burgerknap helt til højre */
  margin-left: auto;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
  #nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  /* menuen vises med active */
  #nav-links.active {
    display: flex;
  }
  .menubar {
    /* overvej skift til row, logo fylder for meget */
    flex-direction: column;
    align-items: flex-start;
  }
}
