/* MOBIL FIRST */

@media (max-width: 768px) {
  /* hvem er jeg section */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  /* jeg sætter mine bokse på forsiden i grid */
  .bokse {
    display: grid;
    grid-template-columns: 1fr;
    margin: 100px;
    gap: 50px;
  }

  /* MIT KÆMPE NAVN */
  h5 {
    color: #742921;
    font-family: "mont";
    text-align: center;
    font-size: 60px;
  }

  /* jeg styler mine kasser på OM MIG */
  .kasser {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .kasser a {
    display: flex;
    justify-content: center;
  }

  /* redigere mine grid_1-1 billeder */
  .grid_1-1 img {
    max-width: 60%;
  }

  .temaer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    gap: 100px;
  }

  /* min knap centrerer sig i midten under mine to kasser OM MIG */
  .btn3 {
    display: flex;
    justify-content: center;
  }
}

/* DESKTOP */

@media (min-width: 768px) {
  /* hvem er jeg section */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  /* jeg sætter mine bokse på forsiden i grid */
  .bokse {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* MIT KÆMPE NAVN på OM MIG*/
  h5 {
    font-size: 100px;
  }
  /* redigere mine grid_1-1 billeder på forside og om mig*/
  .grid_1-1 img {
    max-width: 80%;
  }
  /* jeg styler mine kasser på OM MIG */
  .kasser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
  }

  /* mine temaer på projekt siden ændres i grid */
  .temaer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
  }
  .btn3 {
    display: flex;
    justify-content: center;
  }

  .mig {
    width: 100%;
  }
}
