/* Mine fonte */

/* h2 */
@font-face {
  font-family: "pop";
  src: url(fonte/Poppins-SemiBold.ttf);
}

/* til mine h2 h3 */
@font-face {
  font-family: "monoton";
  src: url(fonte/Monoton-Regular.ttf);
}

/* til min brødtekst */
@font-face {
  font-family: "work-tynd";
  src: url(fonte/WorkSans-Regular.ttf);
}

/* Primær
Sekundær
tredje farve */

/* Lidt general styling */
img {
  max-width: 100%;
}

body {
  background-color: #f7f3e2;
  margin: 0;
}

h2 {
  color: #009844;
  padding: 1.5rem;
  text-align: center;
  font-family: "pop";
  font-size: x-large;
}

h3 {
  color: #f35197;
  text-align: center;
  font-family: "pop";
  font-size: large;
}

p {
  color: black;
  font-family: "work-tynd";
}

/* MOBIL FIIIIIIRRRRRRSSSTTTT */
/* Husk nu E alt herfra og ind til @me gælder KUN op til og med 768px bredde:) */

/* FORSIDE - MOBIL */
/* min hero section */
@media (max-width: 768px) {
  h1 {
    color: #f35197;
    font-family: "monoton";
    text-align: center;
    margin: 10px;
    font-size: 50px;
  }
}

.hero {
  background-color: #f7f3e2;
  padding: 5rem;
  text-align: center;
}
.hero h1 {
  font-family: "monoton";
  font-size: 100px;
  color: #f35197;
}
.lilleintro h3 {
  color: #f35197;
  font-size: large;
  text-align: center;
  outline: solid 2px #f35197;
  padding: 1rem;
}

/* Mine site bokse styles og sættes i grid */
.bokse {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}
a.boks {
  display: block;
  background-color: #fe7f41;
  color: white;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  font-family: "pop";
  text-decoration: none;
  border-radius: 10px;
  padding: 60px 20px;
}

.orange h2 {
  color: #fe7f41;
}

.hvemerjeg {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding-bottom: 50px;
  background-color: #f35197;
}
/* skubber knap i bund */
.mellemrum {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
.mellemrum h2 {
  color: #f7f3e2;
}
/* styler mine 5 hurtige */
.mellemrum li {
  color: #f7f3e2;
  font-size: 20px;
  font-family: "worktynd";
  gap: 1rem;
}

.hvemerjeg img {
  margin-top: 30px;
  max-width: 50%;
  border-radius: 20px;
}
.mellemrum {
  align-items: center;
}

/* OM MIG */
/* min billerække på om mig */
.billederække {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.billederække img {
  max-width: 100%;
}
.mig img {
  max-width: 60%;
  /* centrer billedet horisontalt */
  margin: 20px auto;
  /* nødvendig for min margi auto virker, normalt inline */
  display: block;
  border-radius: 280px;
}
.grid_2-1 {
  margin-left: 10px;
  padding-left: 10px;
}
/* MIN CV SEKTION */
.cv {
  font-family: "work";
  color: #f35197;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.cv h2 {
  text-align: start;
  padding: 0;
}

/* laver streg under/inddeler */
details {
  border-bottom: 2px solid #f35197;
  padding: 10px;
}
summary



/* PROJEKTER - MOBIL */
/* jeg styler mine tema kasser i projekter */
.temaer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  padding: 40px 20px;
  gap: 30px;
  justify-items: center;
}

.tema {
  background-color: #fe7f41;
  text-align: center;
  padding: 60px 20px;
  font-family: "work";
  font-size: large;
  max-width: 300px;
  border-radius: 10px;
  outline: solid 2px #fe7f41;
}

.tema a {
  text-decoration: none;
  color: #f7f3e2;
  font-family: "pop";
  font-size: 30px;
}

/* KNAPPER */
.btn {
  display: inline-block;
  background-color: #f35197;
  color: #f7f3e2;
  text-decoration: none;
  padding: 10px;
  font-family: "pop";
  border-radius: 1rem;
  box-shadow: 5px 5px 5px grey;
  text-align: center;
}

/* min første orange knap */
.btn1 {
  display: inline-block;
  background-color: #fe7f41;
  color: #f7f3e2;
  text-decoration: none;
  padding: 10px;
  font-family: "pop";
  border-radius: 1rem;
  box-shadow: 5px 5px 5px grey;
  text-align: center;
}
/* min anden knap på en personlig tilgang */
.btn2 {
  display: inline-block;
  background-color: #f7f3e2;
  color: #f35197;
  text-decoration: none;
  padding: 10px;
  font-family: "pop";
  border-radius: 1rem;
  box-shadow: 5px 5px 5px grey;
  text-align: center;
  /* centrerer knappen */
  margin: 0 auto;
}
/* Min knap centrerer sig i midten under mine to kasser OM MIG */
.btn3 {
  display: flex;
  justify-content: center;
  padding: 15px;
}
/* styler min go back knap  */
.goback p {
  display: inline-block;
  color: #009844;
  width: 20%;
  font-size: xx-large;
  padding-left: 70px;

  /* font-size: xx-large; */
}

/* Tema beskrivelse sider */
/* jeg får mine p'er ind i midten af artiklen */
.article {
  max-width: 700px;
  /* centrer containeren */
  margin: 0 auto;
  /* luft fra siderne */
  padding: 0 2rem;
}
.article p {
  /* mellemrum mellem mine p'er */
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

/* får mit billede af mig til at fadein */

.fadeIn {
  animation: fadeIn 1s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* DESKTOP VERSION MED MEDIA */

@media (min-width: 768px) {
  /* FORSIDE - desktop */

  h1 {
    color: #f35197;
    font-family: "monoton";
    text-align: center;
    margin: 10px;
    font-size: 100px;
  }

  /* Jeg sætter mine bokse på forsiden i grid */
  .bokse {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
  }
  /* Jeg sætter mine bokse på forsiden i grid til desktop version */
  .bokse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
  a.boks {
    display: block;
    background-color: #fe7f41;
    color: white;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: "work";
    text-decoration: none;
    padding: 40px 80px;
  }
  .hvemerjeg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  /* skubber knap i bund */
  .mellemrum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  /* forside billede */
  .hvemerjeg img {
    max-width: 50%;
  }

  /* OM MIG - desktop */
  /* "Hvem er jeg" grid_2-1 section - på "OM MIG" */
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    padding-top: 30px;
    margin-left: 100px;
    margin-right: 20px;
  }

  /* Mit kæææmpe navn på om mig*/
  h5 {
    font-size: 100px;
  }

  /* MIN CV SEKTION */
  .cv {
    font-family: "work";
    color: #f35197;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
  }

  /* min billerække på om mig */
  .billederække {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
  }
  .billederække img {
    max-width: 100%;
  }

  /* Projekt - desktop */
  /* Mine temaer på projekt siden ændres i grid */

  .temaer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 50px;
    padding: 40px;
    text-align: center;
  }
}
